@{
    ViewBag.Title = "Travel Management System";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Travel Management System (TMS) is an automated, integrated travel booking and management application. This system’s objective is to provide an easy to use travel process for the company.
    </p>
    <h3><a href="~/Views/Account/Login.cshtml">Login</a></h3>
</article>

<aside>
</aside>