@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                A convenient tool for employees' travel needs.
            </p>
        </div>
    </section>
}
<h3>Features</h3>
<ol class="round">
    <li class="one">
        <h5>Place Travel Requests</h5>
        @Html.ActionLink("Place a new travel request ->", "NewTravelRequest", "Employee")
    </li>

    <li class="two">
        <h5>View Travel Requests</h5>
        @Html.ActionLink("View travel requests ->", "ViewTravelRequests", "Employee")
    </li>

    <li class="three">
        <h5>Place claim requests</h5>
        Have a place to stay
    </li>
</ol>
